body{
    margin: 0;
    padding: 0;
    padding-left: 250px;
    padding-top: 30px;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/08800aef-a1c3-4ac3-be7e-032bd085f169/d7pgwmn-d7b8b5ca-c2bb-4440-991c-91f159471152.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA4ODAwYWVmLWExYzMtNGFjMy1iZTdlLTAzMmJkMDg1ZjE2OVwvZDdwZ3dtbi1kN2I4YjVjYS1jMmJiLTQ0NDAtOTkxYy05MWYxNTk0NzExNTIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8FobvtrHalGQXQ2W_ci2R-Rz2FJ5CuxDSDju0p1rCiQ);
}
div{
    color: white;
}

.header{
    background-color: none;
    height: 40px;
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-weight: bold;
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;

}
.sidebar{
    background-color: none;
    position: fixed;
    width: 300px;
    flex-direction: column;
    height: 100%;
    display: inline;
    z-index: 1;
    left: 0;
    margin-top: 15px;
}
.sidebar div{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: space-between;
}

.ph{
    height: 150px;
    width: 150px;
    border-radius: 75px;
}
.contact{
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.contact img{
    width: 20px;
    height: 20px;
    background-color: none;
    border-radius: 10px;
   

}
.contact div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.sidebar button{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    margin-top: 15px;
    
}







.photo{
    width: 1000px;
    height: 500px;
}
p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ahmadosh{
    width: 200px;
    height: auto;
    
}

.categories{
    font-weight: bold;
    font-size: 18px;
   

}
.categories:hover{
    opacity: 80%;
}
.categories:active{
    text-decoration: underline;
}

.header button,input{
background-color: transparent;
border-radius: 5px;
border:  none;
width: 120px;
height: 25px;
display: inline-block;
border-color: white;
    border-style: solid;
    border-width: 2px;
    color: white;
}
.header-buttons button:hover{
    opacity: 80%;

}
.header-buttons{
    margin-right: 10px;
    
}


.header-buttons div{
    display:  inline-block;
    margin-left: 5px;
}

.header a{
    color: rgb(109, 109, 109);
    font-weight: bold;
    text-decoration: none;
}
.header a:hover{
    color: white;
    transition: color 0.5s;
}
button{
    cursor: pointer;
}
.sidebar a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}


.skills{
    width: 250px;
    height: 400px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 0px;
    padding: 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);

}
.skills p{
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500;
    
}
.cat{
    width: 100%;
    height: 155px ;
    
    object-fit: cover;
   margin: 0px;
   padding: 0;
}

.gradient-text {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.messenger{
    background-color: transparent;
     color: white;
      border-width: 2px;
      border-color: white;
       border-style: solid;
        width: 120px; 

}
.messenger:hover{
    opacity: 80%;
}



#supergrid{
    right: -1100px;
}









